h1 {
    color: rgb(1, 105, 70);        
}

p {
    color: blueviolet;
}

h2 {
    color: blue;
}

body {
    /* background-color: bisque; */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwCymFsoaPMYS1jHOKRRQhtX3reE5J6jq5PA&usqp=CAU');
    background-repeat: no-repeat;
    background-size: cover;
}

.box {
    width: 200px;
    height: 200px;
    border-style: dashed;
    border-radius: 90px 1px 90px 1px;
    background-color: rgb(132, 201, 20);
    cursor: pointer;
}

.box-2, .box-3{
    background-color: azure;
}

.box-2 p {
    background-color: rgb(188, 131, 241);
    display: block;
}

.box-3 p {
    background-color: rgb(188, 131, 241);
    display: inline;
}

.box-4, .box-5 {
    background-color: brown;
}

.box-4 p {
    /* margin-top: 10px; */
    background-color: rgb(188, 131, 241);
    display: inline-block;
}

.box-5 p {
    background-color: rgb(188, 131, 241);
    display: none;
}

.box-6, .box-7 {
    width: 100px;
    height: 100px;
    background-color: rgb(2, 115, 115);
}

.box-6 {
    float: left;
}

/* .box-7 {
    float: right;
    overflow: hidden;
} */

.para {
    font-size: 24px;
    font-style: italic;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.btn {
    background-color: rgb(147, 201, 249) !important;
    border-radius: 5px;
    padding: 5px;
}

.btn {
    background-color: rgb(104, 72, 170);
    border-radius: 5px;
    padding: 5px;
}

.btn:hover {
    background-color: rgb(74, 167, 248) !important;
}

.para-2 {
    margin-top: 50px;
    line-height: 200%;
    width: 500px;
    height: 300px;
    overflow: auto;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
}

.box-8 {
    width: 100px;
    height: 100px;
    background-color: rgb(49, 39, 201);
    position: relative;
    /* top: 50px; */
}

.text {
    text-decoration: underline overline dashed;
    letter-spacing: 10px;
    word-spacing: 10px;
}

.p1, .p2 {
    width: 200px;
    border: 1px solid rgb(4, 81, 81);
}

.p2 {
    word-wrap: break-word;
}

.my-div {
    background-color: rgb(212, 89, 89);
    display: flex;
    justify-content: space-evenly;
    /* justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center */
}

.my-div div {
    border: 2px solid black;
    width: 30px;
    height: 30px;
    background-color: rgb(68, 98, 147);
}

.image img{
    width: 200px;
    height: 200px;
    filter: blur(1px) brightness(120%) opacity(50%) saturate(10);
}

:root {
    --myFont: 36px;
    --myColor: rgb(209, 202, 9);
}

.my-text {
    font-size: var(--myFont);
    color: var(--myColor);
}



